input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.image-gallery-slide-wrapper.left {
  padding-left: 25px;
}
.right-info-box {
  margin-left: 3.125rem;
}

@media screen and (max-width: 768px) {
  .right-info-box {
    margin-left: 0;
  }
}

/* "& .MuiOutlinedInput-notchedOutline": {
    border: "none",
  },
  "&:hover": {
    
    border: "1px solid grey",
  }, */

/* .react-multi-carousel-list {
  display: block !important;
}

.image-gallery-swipe {
  width: 500px;
  height: 500px;
} */

.image-gallery-thumbnails .image-gallery-thumbnails-container {
  width: 100px !important;
  overflow-y: scroll;
}

.image-gallery-thumbnails .image-gallery-thumbnails-container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 500px) {
  .image-gallery {
    width: 100% !important;
  }
  
  .image-gallery-thumbnails .image-gallery-thumbnails-container {
    width: 100% !important;
    overflow-x: scroll;
  }
}

.slick-initialized {
  z-index: 1;
}


.react-multi-carousel-item {
  width:345px
}

