
.footer-title {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Montserrat';
    padding-bottom: 1.25rem;
}

.footer-content {
    color: #717171;
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 1.15rem;
    font-family: 'Montserrat';
}

@media screen and (max-width: 500px) {
    .footer-title,
    .footer-content {
        font-size: 3.6vw;
    }       
}

