.footer-title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  font-size: 1rem;
  font-family: "Rajdhani";
  padding-bottom: 1.25rem;
}
.footer-content-address {
  color: #717171;
  font-weight: 500;
  font-size: 1rem;
  padding-bottom: 1.15rem;
  font-family: "Rajdhani";
}
.footer-content {
  color: #717171;
  font-weight: 500;
  font-size: 1rem;
  padding-bottom: 1.15rem;
  font-family: "Rajdhani";
}

.footer-content:hover {
  color: #000;
}
.webgross-hover {
  color: #c02121;
  transition: color 0.3s ease;
}
.webgross-hover:hover {
  color: #ff7f50; /* Change this to the desired hover color */
}
@media screen and (max-width: 500px) {
  .footer-title,
  .footer-content {
    font-size: 3.6vw;
  }
}
